# 2. OPEN API 활용

### 공공데이터 포털사이트 활용
1. 공공데이터 포털 회원가입 / 로그인
2. 데이터 검색
3. API 활용 요청, 키 발급
4. API 메뉴얼 확인
5. API 연동 및 테스트

In [2]:
import requests
import pandas as pd
import xmltodict
import json

### 보건복지부 공공데이터활용지원센터_보건복지부 코로나19 감염 현황 (XML)

In [3]:
key = 'HIb%2F2BPBgQzxpVWatpNeU5NCBg0sGxhhURG05vt5CWkzObxA0c75Aq2%2F8yHJZovooKIlnbydLsAXTQE%2BbFwc7w%3D%3D'
#  5lBQlDU8aWQ1TZqJKJBEw3i04fbeM0V3Ze3KPBD6ctosFEQChUOQKblW9RmNdAcU9slvx41ODfz3rVFo4OvqXQ%3D%3D
url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey={}&pageNo=1&numOfRows=10&startCreateDt=20200310&endCreateDt=20200315'.format(key)
url

'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=HIb%2F2BPBgQzxpVWatpNeU5NCBg0sGxhhURG05vt5CWkzObxA0c75Aq2%2F8yHJZovooKIlnbydLsAXTQE%2BbFwc7w%3D%3D&pageNo=1&numOfRows=10&startCreateDt=20200310&endCreateDt=20200315'

In [18]:
res = requests.get(url)
res

In [19]:
res.text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><accDefRate>3.2396602365</accDefRate><accExamCnt>268212</accExamCnt><accExamCompCnt>251940</accExamCompCnt><careCnt>7300</careCnt><clearCnt>834</clearCnt><createDt>2020-03-15 10:01:22.22</createDt><deathCnt>75</deathCnt><decideCnt>8162</decideCnt><examCnt>16272</examCnt><resutlNegCnt>243778</resutlNegCnt><seq>74</seq><stateDt>20200315</stateDt><stateTime>00:00</stateTime><updateDt>2020-03-15 10:01:22.22</updateDt></item><item><accDefRate>3.3180003364</accDefRate><accExamCnt>261335</accExamCnt><accExamCompCnt>243701</accExamCompCnt><careCnt>7402</careCnt><clearCnt>714</clearCnt><createDt>2020-03-14 10:29:11.11</createDt><deathCnt>72</deathCnt><decideCnt>8086</decideCnt><examCnt>17634</examCnt><resutlNegCnt>235615</resutlNegCnt><seq>73</seq><stateDt>20200314</stateDt><stateTime>00:00</stateTime><updateDt>2020-03-14 10:29:11.11</updateDt></item><item><accDefRate>3.4584993086</accDefRate><accExamCnt>248647</accExamCnt><accExamCompCnt>230707</accExamCompCnt><careCnt>7470</careCnt><clearCnt>510</clearCnt><createDt>2020-03-13 10:07:22.22</createDt><deathCnt>67</deathCnt><decideCnt>7979</decideCnt><examCnt>17940</examCnt><resutlNegCnt>222728</resutlNegCnt><seq>72</seq><stateDt>20200313</stateDt><stateTime>00:00</stateTime><updateDt>2020-03-13 10:07:22.22</updateDt></item><item><accDefRate>3.6217442732</accDefRate><accExamCnt>234998</accExamCnt><accExamCompCnt>217271</accExamCompCnt><careCnt>7407</careCnt><clearCnt>333</clearCnt><createDt>2020-03-12 10:37:03.03</createDt><deathCnt>66</deathCnt><decideCnt>7869</decideCnt><examCnt>17727</examCnt><resutlNegCnt>209402</resutlNegCnt><seq>71</seq><stateDt>20200312</stateDt><stateTime>00:00</stateTime><updateDt>2020-03-12 10:37:03.03</updateDt></item><item><accDefRate>3.8041745358</accDefRate><accExamCnt>222395</accExamCnt><accExamCompCnt>203855</accExamCompCnt><careCnt>7212</careCnt><clearCnt>288</clearCnt><createDt>2020-03-11 10:17:19.19</createDt><deathCnt>60</deathCnt><decideCnt>7755</decideCnt><examCnt>18540</examCnt><resutlNegCnt>196100</resutlNegCnt><seq>70</seq><stateDt>20200311</stateDt><stateTime>00:00</stateTime><updateDt>2020-03-11 10:17:19.19</updateDt></item><item><accDefRate>3.9193080566</accDefRate><accExamCnt>210144</accExamCnt><accExamCompCnt>191692</accExamCompCnt><careCnt>7165</careCnt><clearCnt>247</clearCnt><createDt>2020-03-10 10:20:27.27</createDt><deathCnt>54</deathCnt><decideCnt>7513</decideCnt><examCnt>18452</examCnt><resutlNegCnt>184179</resutlNegCnt><seq>69</seq><stateDt>20200310</stateDt><stateTime>00:00</stateTime><updateDt>2020-03-10 10:20:27.27</updateDt></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>6</totalCount></body></response>'

In [20]:
temp = xmltodict.parse(res.text)
temp

OrderedDict([('response',
              OrderedDict([('header',
                            OrderedDict([('resultCode', '00'),
                                         ('resultMsg', 'NORMAL SERVICE.')])),
                           ('body',
                            OrderedDict([('items',
                                          OrderedDict([('item',
                                                        [OrderedDict([('accDefRate',
                                                                       '3.2396602365'),
                                                                      ('accExamCnt',
                                                                       '268212'),
                                                                      ('accExamCompCnt',
                                                                       '251940'),
                                                                      ('careCnt',
                                                                       '7300'),
                                                                      ('clearCnt',
                                                                       '834'),
                                                                      ('createDt',
                                                                       '2020-03-15 10:01:22.22'),
                                                                      ('deathCnt',
                                                                       '75'),
                                                                      ('decideCnt',
                                                                       '8162'),
                                                                      ('examCnt',
                                                                       '16272'),
                                                                      ('resutlNegCnt',
                                                                       '243778'),
                                                                      ('seq',
                                                                       '74'),
                                                                      ('stateDt',
                                                                       '20200315'),
                                                                      ('stateTime',
                                                                       '00:00'),
                                                                      ('updateDt',
                                                                       '2020-03-15 10:01:22.22')]),
                                                         OrderedDict([('accDefRate',
                                                                       '3.3180003364'),
                                                                      ('accExamCnt',
                                                                       '261335'),
                                                                      ('accExamCompCnt',
                                                                       '243701'),
                                                                      ('careCnt',
                                                                       '7402'),
                                                                      ('clearCnt',
                                                                       '714'),
                                                                      ('createDt',
                                                                       '2020-03-14 10:29:11.11'),
                                                                      ('deathCnt',
                                                                       '72'),
                                                                      ('decideCnt',
                                                                       '8086'),
                                                                      ('examCnt',
                                                                       '17634'),
                                                                      ('resutlNegCnt',
                                                                       '235615'),
                                                                      ('seq',
                                                                       '73'),
                                                                      ('stateDt',
                                                                       '20200314'),
                                                                      ('stateTime',
                                                                       '00:00'),
                                                                      ('updateDt',
                                                                       '2020-03-14 10:29:11.11')]),
                                                         OrderedDict([('accDefRate',
                                                                       '3.4584993086'),
                                                                      ('accExamCnt',
                                                                       '248647'),
                                                                      ('accExamCompCnt',
                                                                       '230707'),
                                                                      ('careCnt',
                                                                       '7470'),
                                                                      ('clearCnt',
                                                                       '510'),
                                                                      ('createDt',
                                                                       '2020-03-13 10:07:22.22'),
                                                                      ('deathCnt',
                                                                       '67'),
                                                                      ('decideCnt',
                                                                       '7979'),
                                                                      ('examCnt',
                                                                       '17940'),
                                                                      ('resutlNegCnt',
                                                                       '222728'),
                                                                      ('seq',
                                                                       '72'),
                                                                      ('stateDt',
                                                                       '20200313'),
                                                                      ('stateTime',
                                                                       '00:00'),
                                                                      ('updateDt',
                                                                       '2020-03-13 10:07:22.22')]),
                                                         OrderedDict([('accDefRate',
                                                                       '3.6217442732'),
                                                                      ('accExamCnt',
                                                                       '234998'),
                                                                      ('accExamCompCnt',
                                                                       '217271'),
                                                                      ('careCnt',
                                                                       '7407'),
                                                                      ('clearCnt',
                                                                       '333'),
                                                                      ('createDt',
                                                                       '2020-03-12 10:37:03.03'),
                                                                      ('deathCnt',
                                                                       '66'),
                                                                      ('decideCnt',
                                                                       '7869'),
                                                                      ('examCnt',
                                                                       '17727'),
                                                                      ('resutlNegCnt',
                                                                       '209402'),
                                                                      ('seq',
                                                                       '71'),
                                                                      ('stateDt',
                                                                       '20200312'),
                                                                      ('stateTime',
                                                                       '00:00'),
                                                                      ('updateDt',
                                                                       '2020-03-12 10:37:03.03')]),
                                                         OrderedDict([('accDefRate',
                                                                       '3.8041745358'),
                                                                      ('accExamCnt',
                                                                       '222395'),
                                                                      ('accExamCompCnt',
                                                                       '203855'),
                                                                      ('careCnt',
                                                                       '7212'),
                                                                      ('clearCnt',
                                                                       '288'),
                                                                      ('createDt',
                                                                       '2020-03-11 10:17:19.19'),
                                                                      ('deathCnt',
                                                                       '60'),
                                                                      ('decideCnt',
                                                                       '7755'),
                                                                      ('examCnt',
                                                                       '18540'),
                                                                      ('resutlNegCnt',
                                                                       '196100'),
                                                                      ('seq',
                                                                       '70'),
                                                                      ('stateDt',
                                                                       '20200311'),
                                                                      ('stateTime',
                                                                       '00:00'),
                                                                      ('updateDt',
                                                                       '2020-03-11 10:17:19.19')]),
                                                         OrderedDict([('accDefRate',
                                                                       '3.9193080566'),
                                                                      ('accExamCnt',
                                                                       '210144'),
                                                                      ('accExamCompCnt',
                                                                       '191692'),
                                                                      ('careCnt',
                                                                       '7165'),
                                                                      ('clearCnt',
                                                                       '247'),
                                                                      ('createDt',
                                                                       '2020-03-10 10:20:27.27'),
                                                                      ('deathCnt',
                                                                       '54'),
                                                                      ('decideCnt',
                                                                       '7513'),
                                                                      ('examCnt',
                                                                       '18452'),
                                                                      ('resutlNegCnt',
                                                                       '184179'),
                                                                      ('seq',
                                                                       '69'),
                                                                      ('stateDt',
                                                                       '20200310'),
                                                                      ('stateTime',
                                                                       '00:00'),
                                                                      ('updateDt',
                                                                       '2020-03-10 10:20:27.27')])])])),
                                         ('numOfRows', '10'),
                                         ('pageNo', '1'),
                                         ('totalCount', '6')]))]))])

In [31]:
result = json.loads(json.dumps(temp)) # OrderDict -> dict(str) - > dict
result

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'},
  'body': {'items': {'item': [{'accDefRate': '3.2396602365',
      'accExamCnt': '268212',
      'accExamCompCnt': '251940',
      'careCnt': '7300',
      'clearCnt': '834',
      'createDt': '2020-03-15 10:01:22.22',
      'deathCnt': '75',
      'decideCnt': '8162',
      'examCnt': '16272',
      'resutlNegCnt': '243778',
      'seq': '74',
      'stateDt': '20200315',
      'stateTime': '00:00',
      'updateDt': '2020-03-15 10:01:22.22'},
     {'accDefRate': '3.3180003364',
      'accExamCnt': '261335',
      'accExamCompCnt': '243701',
      'careCnt': '7402',
      'clearCnt': '714',
      'createDt': '2020-03-14 10:29:11.11',
      'deathCnt': '72',
      'decideCnt': '8086',
      'examCnt': '17634',
      'resutlNegCnt': '235615',
      'seq': '73',
      'stateDt': '20200314',
      'stateTime': '00:00',
      'updateDt': '2020-03-14 10:29:11.11'},
     {'accDefRate': '3.4584993086',
      'accExamCnt': '248647',
      'accExamCompCnt': '230707',
      'careCnt': '7470',
      'clearCnt': '510',
      'createDt': '2020-03-13 10:07:22.22',
      'deathCnt': '67',
      'decideCnt': '7979',
      'examCnt': '17940',
      'resutlNegCnt': '222728',
      'seq': '72',
      'stateDt': '20200313',
      'stateTime': '00:00',
      'updateDt': '2020-03-13 10:07:22.22'},
     {'accDefRate': '3.6217442732',
      'accExamCnt': '234998',
      'accExamCompCnt': '217271',
      'careCnt': '7407',
      'clearCnt': '333',
      'createDt': '2020-03-12 10:37:03.03',
      'deathCnt': '66',
      'decideCnt': '7869',
      'examCnt': '17727',
      'resutlNegCnt': '209402',
      'seq': '71',
      'stateDt': '20200312',
      'stateTime': '00:00',
      'updateDt': '2020-03-12 10:37:03.03'},
     {'accDefRate': '3.8041745358',
      'accExamCnt': '222395',
      'accExamCompCnt': '203855',
      'careCnt': '7212',
      'clearCnt': '288',
      'createDt': '2020-03-11 10:17:19.19',
      'deathCnt': '60',
      'decideCnt': '7755',
      'examCnt': '18540',
      'resutlNegCnt': '196100',
      'seq': '70',
      'stateDt': '20200311',
      'stateTime': '00:00',
      'updateDt': '2020-03-11 10:17:19.19'},
     {'accDefRate': '3.9193080566',
      'accExamCnt': '210144',
      'accExamCompCnt': '191692',
      'careCnt': '7165',
      'clearCnt': '247',
      'createDt': '2020-03-10 10:20:27.27',
      'deathCnt': '54',
      'decideCnt': '7513',
      'examCnt': '18452',
      'resutlNegCnt': '184179',
      'seq': '69',
      'stateDt': '20200310',
      'stateTime': '00:00',
      'updateDt': '2020-03-10 10:20:27.27'}]},
   'numOfRows': '10',
   'pageNo': '1',
   'totalCount': '6'}}}

In [33]:
items = result['response']['body']['items']['item']

for item in items:
    print(item)

{'accDefRate': '3.2396602365', 'accExamCnt': '268212', 'accExamCompCnt': '251940', 'careCnt': '7300', 'clearCnt': '834', 'createDt': '2020-03-15 10:01:22.22', 'deathCnt': '75', 'decideCnt': '8162', 'examCnt': '16272', 'resutlNegCnt': '243778', 'seq': '74', 'stateDt': '20200315', 'stateTime': '00:00', 'updateDt': '2020-03-15 10:01:22.22'}
{'accDefRate': '3.3180003364', 'accExamCnt': '261335', 'accExamCompCnt': '243701', 'careCnt': '7402', 'clearCnt': '714', 'createDt': '2020-03-14 10:29:11.11', 'deathCnt': '72', 'decideCnt': '8086', 'examCnt': '17634', 'resutlNegCnt': '235615', 'seq': '73', 'stateDt': '20200314', 'stateTime': '00:00', 'updateDt': '2020-03-14 10:29:11.11'}
{'accDefRate': '3.4584993086', 'accExamCnt': '248647', 'accExamCompCnt': '230707', 'careCnt': '7470', 'clearCnt': '510', 'createDt': '2020-03-13 10:07:22.22', 'deathCnt': '67', 'decideCnt': '7979', 'examCnt': '17940', 'resutlNegCnt': '222728', 'seq': '72', 'stateDt': '20200313', 'stateTime': '00:00', 'updateDt': '2020-03-13 10:07:22.22'}
{'accDefRate': '3.6217442732', 'accExamCnt': '234998', 'accExamCompCnt': '217271', 'careCnt': '7407', 'clearCnt': '333', 'createDt': '2020-03-12 10:37:03.03', 'deathCnt': '66', 'decideCnt': '7869', 'examCnt': '17727', 'resutlNegCnt': '209402', 'seq': '71', 'stateDt': '20200312', 'stateTime': '00:00', 'updateDt': '2020-03-12 10:37:03.03'}
{'accDefRate': '3.8041745358', 'accExamCnt': '222395', 'accExamCompCnt': '203855', 'careCnt': '7212', 'clearCnt': '288', 'createDt': '2020-03-11 10:17:19.19', 'deathCnt': '60', 'decideCnt': '7755', 'examCnt': '18540', 'resutlNegCnt': '196100', 'seq': '70', 'stateDt': '20200311', 'stateTime': '00:00', 'updateDt': '2020-03-11 10:17:19.19'}
{'accDefRate': '3.9193080566', 'accExamCnt': '210144', 'accExamCompCnt': '191692', 'careCnt': '7165', 'clearCnt': '247', 'createDt': '2020-03-10 10:20:27.27', 'deathCnt': '54', 'decideCnt': '7513', 'examCnt': '18452', 'resutlNegCnt': '184179', 'seq': '69', 'stateDt': '20200310', 'stateTime': '00:00', 'updateDt': '2020-03-10 10:20:27.27'}

In [40]:
# 일자(STATE_DT), 확진자수(DECIDE_CNT), 사망자수(DEATH_CNT), 치료증환자수(CARE_CNT)
state_dt = []
decide_cnt = []
death_cnt = []
care_cnt = []

for item in items:
    state_dt.append(item['stateDt'])
    death_cnt.append(item['deathCnt'])
    decide_cnt.append(item['decideCnt'])
    care_cnt.append(item['careCnt'])

In [44]:
# df 생성
df_data = {
    '기준일' : state_dt,
    '확진자수' : decide_cnt,
    '사망자수' : death_cnt,
    '완치자수' : care_cnt
}

df = pd.DataFrame(data=df_data)
df

        기준일  확진자수 사망자수  완치자수
0  20200315  8162   75  7300
1  20200314  8086   72  7402
2  20200313  7979   67  7470
3  20200312  7869   66  7407
4  20200311  7755   60  7212
5  20200310  7513   54  7165

### JSON 데이터

In [15]:
#key = '5lBQlDU8aWQ1TZqJKJBEw3i04fbeM0V3Ze3KPBD6ctosFEQChUOQKblW9RmNdAcU9slvx41ODfz3rVFo4OvqXQ%3D%3D'
page = 1
url = 'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey={}&numOfRows=10&pageNo={}&MobileOS=ETC&MobileApp=AppTest&_type=json'.format(key, page)
res = requests.get(url)
res

In [16]:
res.text

'{"response":{"header":{"resultCode":"0000","resultMsg":"OK"},"body":{"items":{"item":[{"code":1,"name":"서울","rnum":1},{"code":2,"name":"인천","rnum":2},{"code":3,"name":"대전","rnum":3},{"code":4,"name":"대구","rnum":4},{"code":5,"name":"광주","rnum":5},{"code":6,"name":"부산","rnum":6},{"code":7,"name":"울산","rnum":7},{"code":8,"name":"세종특별자치시","rnum":8},{"code":31,"name":"경기도","rnum":9},{"code":32,"name":"강원도","rnum":10}]},"numOfRows":10,"pageNo":1,"totalCount":17}}}'

In [17]:
data = res.json()
data

{'response': {'header': {'resultCode': '0000', 'resultMsg': 'OK'},
  'body': {'items': {'item': [{'code': 1, 'name': '서울', 'rnum': 1},
     {'code': 2, 'name': '인천', 'rnum': 2},
     {'code': 3, 'name': '대전', 'rnum': 3},
     {'code': 4, 'name': '대구', 'rnum': 4},
     {'code': 5, 'name': '광주', 'rnum': 5},
     {'code': 6, 'name': '부산', 'rnum': 6},
     {'code': 7, 'name': '울산', 'rnum': 7},
     {'code': 8, 'name': '세종특별자치시', 'rnum': 8},
     {'code': 31, 'name': '경기도', 'rnum': 9},
     {'code': 32, 'name': '강원도', 'rnum': 10}]},
   'numOfRows': 10,
   'pageNo': 1,
   'totalCount': 17}}}

In [31]:
totalcount = data['response']['body']['totalCount']
numofrows = data['response']['body']['numOfRows']

numofrows, totalcount

(10, 17)

In [34]:
querycount = totalcount // numofrows + (totalcount % numofrows > 0)
querycount

2

In [35]:
code = []
name = []
rnum = []

for i in range(querycount):
    page = i + 1
    url = 'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey={}&numOfRows=10&pageNo={}&MobileOS=ETC&MobileApp=AppTest&_type=json'.format(key, page)
    res = requests.get(url)
    data = res.json()
    
    items = data['response']['body']['items']['item']
    
    for item in items:
        code.append(item['code'])
        name.append(item['name'])
        rnum.append(item['rnum'])
code

[1, 2, 3, 4, 5, 6, 7, 8, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [38]:
df_data = {
    'code' : code,
    'name' : name,
    'rnum' : rnum
}
df = pd.DataFrame(data = df_data)
df

    code     name  rnum
0      1       서울     1
1      2       인천     2
2      3       대전     3
3      4       대구     4
4      5       광주     5
5      6       부산     6
6      7       울산     7
7      8  세종특별자치시     8
8     31      경기도     9
9     32      강원도    10
10    33     충청북도    11
11    34     충청남도    12
12    35     경상북도    13
13    36     경상남도    14
14    37     전라북도    15
15    38     전라남도    16
16    39      제주도    17